@model IEnumerable<Northwind_PuntoDeVentaCore2019.Models.Employees>

@{
    ViewData["Title"] = "Lista De Empleados";
}

@section header {
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Employees</h1>
<p class="mb-4">Show a list of  all Employees .</p>

<p>
    <a asp-action="Create" class="btn btn-primary ">
        <span aria-hidden="true" class="fa fa-plus"></span> Create New Products Employe
    </a>
</p>

<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of Employees</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HomePhone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Photo)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HomePhone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Photo)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.HomePhone)
                            </td>
                            <td>

                                @*@Html.DisplayFor(modelItem => item.Photo)*@
                                @if (!String.IsNullOrEmpty(item.PhotoPath))
                                {
                                    <img class="img-profile rounded-circle" src="@Url.Content(item.PhotoPath)" height="50" width="50" />
                                }
                                else if (!String.IsNullOrEmpty(item.PhotoBase64))
                                {
                                    <img class="img-profile rounded-circle" src="@item.PhotoBase64" height="50" width="50" />
                                }
                                else
                                {
                                    <img class="img-profile rounded-circle" src="~/img/no-profile.png" height="50" width="50" />
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-warning">
                                    <span aria-hidden="true" class="fa  fa-pencil-alt fa-fw"></span>
                                </a> |

                                <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-info">
                                    <span aria-hidden="true" class="fa  fa-1x fa-list"></span>
                                </a> |

                                <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger">
                                    <span aria-hidden="true" class="fa fa-times"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}


















@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleOfCourtesy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomePhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Extension)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportsToNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleOfCourtesy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportsToNavigation.FirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
